Labfiles/01-analyze-text/C-Sharp/text-analysis/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Labfiles/01-analyze-text/C-Sharp/text-analysis/obj/Debug/net7.0/text-analysis.AssemblyInfo.cs
Labfiles/01-analyze-text/C-Sharp/text-analysis/obj/Debug/net7.0/text-analysis.AssemblyInfoInputs.cache
Labfiles/01-analyze-text/C-Sharp/text-analysis/obj/Debug/net7.0/text-analysis.GeneratedMSBuildEditorConfig.editorconfig
Labfiles/02-qna/C-Sharp/qna-app/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Labfiles/08-speech-translation/C-Sharp/translator/obj/Debug/net7.0/translator.GeneratedMSBuildEditorConfig.editorconfig
Labfiles/08-speech-translation/C-Sharp/translator/obj/Debug/net7.0/translator.AssemblyInfoInputs.cache
Labfiles/08-speech-translation/C-Sharp/translator/obj/Debug/net7.0/translator.AssemblyInfo.cs
Labfiles/08-speech-translation/C-Sharp/translator/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Labfiles/07-speech/C-Sharp/speaking-clock/obj/Debug/net7.0/speaking-clock.GeneratedMSBuildEditorConfig.editorconfig
Labfiles/07-speech/C-Sharp/speaking-clock/obj/Debug/net7.0/speaking-clock.AssemblyInfoInputs.cache
Labfiles/07-speech/C-Sharp/speaking-clock/obj/Debug/net7.0/speaking-clock.AssemblyInfo.cs
Labfiles/07-speech/C-Sharp/speaking-clock/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Labfiles/06b-translator-sdk/C-Sharp/translate-text/obj/Debug/net7.0/translate_text.GeneratedMSBuildEditorConfig.editorconfig
Labfiles/06b-translator-sdk/C-Sharp/translate-text/obj/Debug/net7.0/translate_text.AssemblyInfoInputs.cache
Labfiles/06b-translator-sdk/C-Sharp/translate-text/obj/Debug/net7.0/translate_text.AssemblyInfo.cs
Labfiles/06b-translator-sdk/C-Sharp/translate-text/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Labfiles/06-translate-text/C-Sharp/text-translation/obj/Debug/net7.0/translate_text.GeneratedMSBuildEditorConfig.editorconfig
Labfiles/06-translate-text/C-Sharp/text-translation/obj/Debug/net7.0/translate_text.AssemblyInfoInputs.cache
Labfiles/06-translate-text/C-Sharp/text-translation/obj/Debug/net7.0/translate_text.AssemblyInfo.cs
Labfiles/06-translate-text/C-Sharp/text-translation/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Labfiles/05-custom-entity-recognition/C-Sharp/custom-entities/obj/Debug/net7.0/custom-entities.GeneratedMSBuildEditorConfig.editorconfig
Labfiles/05-custom-entity-recognition/C-Sharp/custom-entities/obj/Debug/net7.0/custom-entities.AssemblyInfoInputs.cache
Labfiles/05-custom-entity-recognition/C-Sharp/custom-entities/obj/Debug/net7.0/custom-entities.AssemblyInfo.cs
Labfiles/05-custom-entity-recognition/C-Sharp/custom-entities/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Labfiles/04-text-classification/C-Sharp/classify-text/obj/Debug/net7.0/classify-text.GeneratedMSBuildEditorConfig.editorconfig
Labfiles/04-text-classification/C-Sharp/classify-text/obj/Debug/net7.0/classify-text.AssemblyInfoInputs.cache
Labfiles/04-text-classification/C-Sharp/classify-text/obj/Debug/net7.0/classify-text.AssemblyInfo.cs
Labfiles/04-text-classification/C-Sharp/classify-text/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Labfiles/03-language/C-Sharp/clock-client/obj/Debug/net7.0/clock_client.GeneratedMSBuildEditorConfig.editorconfig
Labfiles/03-language/C-Sharp/clock-client/obj/Debug/net7.0/clock_client.AssemblyInfoInputs.cache
Labfiles/03-language/C-Sharp/clock-client/obj/Debug/net7.0/clock_client.AssemblyInfo.cs
Labfiles/03-language/C-Sharp/clock-client/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Labfiles/02-qna/C-Sharp/qna-app/obj/Debug/net7.0/qna-app.GeneratedMSBuildEditorConfig.editorconfig
Labfiles/02-qna/C-Sharp/qna-app/obj/Debug/net7.0/qna-app.AssemblyInfoInputs.cache
Labfiles/02-qna/C-Sharp/qna-app/obj/Debug/net7.0/qna-app.AssemblyInfo.cs
venv/
Labfiles/01-analyze-text/Python/text-analysis/.env
Labfiles/02-qna/Python/qna-app/.env
